<div class="field-body">
    <div class="field">
        <label class="label">Date de début de récolte</label>
        <div class="control">
            <select class="select" name="harvestBeginAt" id="harvest-begin-at" <% if(action === 'detail') { %> disabled  <% } %>>
                <option value="1" <% if (element.harvestBeginAt === 1) { %> selected <% } %>>Janvier</option>
                <option value="2" <% if (element.harvestBeginAt === 2) { %> selected <% } %>>Février</option>
                <option value="3" <% if (element.harvestBeginAt === 3) { %> selected <% } %>>Mars</option>
                <option value="4" <% if (element.harvestBeginAt === 4) { %> selected <% } %>>Avril</option>
                <option value="5" <% if (element.harvestBeginAt === 5) { %> selected <% } %>>Mai</option>
                <option value="6" <% if (element.harvestBeginAt === 6) { %> selected <% } %>>Juin</option>
                <option value="7" <% if (element.harvestBeginAt === 7) { %> selected <% } %>>Juillet</option>
                <option value="8" <% if (element.harvestBeginAt === 8) { %> selected <% } %>>Août</option>
                <option value="9" <% if (element.harvestBeginAt === 9) { %> selected <% } %>>Septembre</option>
                <option value="10" <% if (element.harvestBeginAt === 10) { %> selected <% } %>>Octobre</option>
                <option value="11" <% if (element.harvestBeginAt === 11) { %> selected <% } %>>Novembre</option>
                <option value="12" <% if (element.harvestBeginAt === 12) { %> selected <% } %>>Décembre</option>
            </select>
        </div>
    </div>
    <div class="field">
        <label class="label">Date de fin de récolte</label>
        <div class="control">
            <select class="select" name="harvestEndAt" id="harvest-end-at" <% if(action === 'detail') { %> disabled  <% } %>>
                <option value="1" <% if (element.harvestEndAt === 1) { %> selected <% } %>>Janvier</option>
                <option value="2" <% if (element.harvestEndAt === 2) { %> selected <% } %>>Février</option>
                <option value="3" <% if (element.harvestEndAt === 3) { %> selected <% } %>>Mars</option>
                <option value="4" <% if (element.harvestEndAt === 4) { %> selected <% } %>>Avril</option>
                <option value="5" <% if (element.harvestEndAt === 5) { %> selected <% } %> >Mai</option>
                <option value="6" <% if (element.harvestEndAt === 6) { %> selected <% } %>>Juin</option>
                <option value="7" <% if (element.harvestEndAt === 7) { %> selected <% } %> >Juillet</option>
                <option value="8" <% if (element.harvestEndAt === 8) { %> selected <% } %>>Août</option>
                <option value="9" <% if (element.harvestEndAt === 9) { %> selected <% } %>>Septembre</option>
                <option value="10" <% if (element.harvestEndAt === 10) { %> selected <% } %>>Octobre</option>
                <option value="11" <% if (element.harvestEndAt === 11) { %> selected <% } %>>Novembre</option>
                <option value="12" <% if (element.harvestEndAtt === 12) { %> selected <% } %>>Décembre</option>
            </select>
        </div>
    </div>
</div>