<section class="modal" id="product-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="block is-modal">
            <header class="modal-header is-new">
                <p class="modal-card-title">Quel produit souhaitez-vous ajouter ?</p>
            </header>
            <section class="modal-body">
                <form class="form" action="#" id="form-modal">
                    <div class="form-attribute form-section">
                        <label class="label" for="productId">Liste des produits disponibles : </label>
                        <select class="select" name="productId" id="productId"></select>
                    </div>
                    <input type="hidden" name="plotId" id="plotId">
                    <div class="form-attribute form-buttons">
                        <button type="submit" class="button is-success">Ajouter</button>
                        <button type="reset" class="button is-info">Annuler</button>
                    </div>
                </form>
            </section>
            <input type="hidden" name="plotId" id="plotId">
        </div>
    </div>
</section>