<aside class="menu">
    <p class="menu-label">Général</p>
    <ul class="menu-list">
        <li><a href="/admin">Dashboard</a></li>
    </ul>
    <p class="menu-label">Gestion des produits</p>
    <ul class="menu-list">
        <li><a href="/admin/categories">Categories</a></li>
        <li><a href="/admin/products">Produits</a></li>
        <li><a href="/admin/varieties">Variétés</a></li>
    </ul>
    <p class="menu-label">Gestion des parcelles</p>
    <ul class="menu-list">
        <li><a href="/admin/plots">Parcelle</a></li>
        <li><a href="/admin/plots/products">Plan de la cueillette</a></li>
    </ul>
    <p class="menu-label">Gestion des réservations</p>
    <ul class="menu-list">
        <li><a href="/admin/bookings">Réservation</a></li>
    </ul>
    <p class="menu-label">Compte</p>
    <ul class="menu-list">
        <li><a href="/logout">Se déconnecter</a></li>
    </ul>
</aside>