<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="block is-modal">
            <div class="modal-header">
                <p>Alerte</p>
            </div>
            <div class="modal-body">
                <div class="modal-text">
                    <p>Voulez-vous vraiment supprimer?</p>
                </div>
                <div class="modal-actions">
                    <a href="#" class="button is-danger">Supprimer</a>
                    <button class="button is-info">Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/deleteAction.js"></script>