<% const classAttribute = (typeof className !== 'undefined')  ? ` ${className}` : '' %>

<button class="button<%= classAttribute %>">
    <span class="icon-text">
        <span class="icon">
            <i class="mdi <%= icon %>"></i>
        </span>
        <span><%= title %></span>
    </span>
</button>