<%- include('../partials/header'); %>

<body class="container">
    <aside>
        Variétés
    </aside>
    <main class="content">
        <div class="card">
            <h2 class="card__title">Consulter les produits</h2>
            <a href="/admin/products">Voir la liste des produits<a>
        </div>
        <div class="card">
            <h2 class="card__title">Consulter les catégories</h2>
            <a href="/admin/categories">Voir la liste des catégories</a>
        </div>
        <div class="card">
            <h2 class="card__title">Consulter les parcelles</h2>
            <a href="/admin/plots">Voir la liste des parcelles</a>
        </div>
        <div class="card">
            <h2 class="card__title">Consulter les variétés</h2>
            <a href="/admin/varieties">Voir la liste des variétés</a>
        </div>
    </main>
</body>
</html>