* {
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
}

.content{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 1rem 2rem;
    flex-wrap: wrap;
}

.card{
    border: 1px solid #ccc;
    padding: 1rem;
}

.card__title{
    margin-bottom: 1rem;
}

.add-tag{
    cursor: pointer;
}

.add-tag * {
    pointer-events: none;
}







